force-app/main/default/flows/Create_Invoice_and_Ensure_Funds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>327</locationX>
        <locationY>50</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Set_Ensure_Funds_Input_Representation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createInvoiceFromFulfillmentOrder</nameSegment>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds</name>
        <label>Ensure Funds</label>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureFundsOrderSummaryAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Ensure_Funds_Input_Representation</name>
        <label>Set Ensure Funds Input Representation</label>
        <locationX>479</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInputRepresentation.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Invoice and Ensure Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice and Ensure Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Specified Fulfillment Order</label>
        <locationX>172</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <outputReference>FulfillmentOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilledToName</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
